<!DOCTYPE html>
<html>
    <head>
        <title>Super Sucky my Butt</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="../../socket.io/socket.io.js"></script>
    </head>
    <body>
        <ul id="messages"></ul>
        <ul id="users">
            <div><b>Online Users</b></div>
        </ul>
        <form action="/" method="POST" id="chatForm">
            <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="don't be stupid...">
            <button>Send</button>
        </form>
        <script>
            var socket = io.connect('http://localhost:4321');

            var typing = false;

            function validName(name, map) {
                return name.length > 0 && name.length <= 8 && !(name in map) && !(name.includes(' '));
            }

            function createName(map) {
                var name = prompt('What is your butt name?');
                while (!validName(name, map)) {
                    if (name.length == 0) {
                        alert('Enter nonempty butt name');
                    }
                    else if (name.includes(' ')) {
                        alert("Name can't have spaces");
                    }
                    else if (name.length > 8) {
                        alert('Butt name too big');
                    }
                    else {
                        alert(name + ' already chosen. Please choose a different name.');
                    }
                    name = prompt('What is your butt name?');
                }
                socket.emit('username', name);
            }

            socket.on('new_conn', function(map) {
                $('#users').contents().filter(function() {
                    return !$(this).is('div');
                }).remove();
                for (let key in map) {
                    $('#users').append($('<li id=' + map[key] + '>').html(key));
                }
                createName(map);
            });

            $('form').submit(function(e) {
                e.preventDefault();
                var msg = $('#txt').val();
                if (msg !== '') {
                    socket.emit('chat_message', msg);
                    $('#txt').val('');
                    if (typing) {
                        typing = false;
                        socket.emit('stop_typing');
                    }
                }
                return false;
            });

            socket.on('chat_message', function(msg) {
                $('#messages').append($('<li>').html(msg));
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            });

            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            socket.on('new_user', function(username, id) {
                $('#users').append($('<li id=' + id + '>').html(username));
            });

            socket.on('remove_user', function(id) {
                $('#' + id).remove();
            });

            socket.on('no_name', function(alert, map) {
                $('#messages').append($('<li class=alert>').html(alert));
                createName(map);
            });

            socket.on('add_typing', function(id) {
                $('#' + id).append($('<i>').html(' is typing...'));
            });

            socket.on('remove_typing', function(id) {
                $('#' + id).find('i')[0].remove();
            });

            function isTyping() {
                if (!typing && $('#txt').val() !== '') {
                    typing = true;
                    socket.emit('start_typing');
                }
                if (typing && $('#txt').val() === '') {
                    typing = false;
                    socket.emit('stop_typing');
                }
            }

        </script>
    </body>
</html>

