<!DOCTYPE html>
<html>
    <head>
        <title>Super Sucky my Butt</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="../../socket.io/socket.io.js"></script>
    </head>
    <body>
        <ul id="messages"></ul>
        <ul id="users">
            <div><b>Online Users</b></div>
        </ul>
        <form action="/" method="POST" id="chatForm">
            <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="don't be stupid...">
            <button>Send</button>
        </form>
        <script>
            var socket = io.connect('http://localhost:4321');

            $('form').submit(function(e) {
                e.preventDefault();
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            socket.on('chat_message', function(msg) {
                $('#messages').append($('<li>').html(msg));
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            });

            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            socket.on('new_user', function(username, id) {
                $('#users').append($('<li id=' + id + '>').html(username));
            });

            socket.on('remove_user', function(id) {
                $('#' + id).remove();
            });

            socket.on('display', function(map) {
                for (let key in map) {
                    $('#users').append($('<li id=' + key + '>').html(map[key]));
                }
            });

            var name = prompt('What is your butt name?');
            socket.emit('username', name);
        </script>
    </body>
</html>

